<!DOCTYPE html>
<html>
<head>
  <title>FireWarehouse</title>
  <%= include_stylesheets :common %>
  <%= include_javascripts :workspace %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
